.page5 h2{
    text-align: center;
    margin: 20px;
    color: coral;
}
.container {
    padding: 20px;
    background: lightgrey;
  }
  
  input[type="text"] , input[type="number"] {
    padding: 8px;
    width: 100%;
    display: inline-block;
    margin: 5px 0px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    padding: 6px 15px;
    border: none;
    background: green;
    color: white;
  }
  .list div{
    padding: 7px;
    background: white;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .list div span{
      margin-left: 10px;
  }
  .list div span:nth-child(1){
      color: white;
      background-color: green;
      padding: 0px 10px;
      border-radius: 2px;
  }
  .list div span:nth-child(2){
      color: white;
      background:red;
      padding: 0px 10px;
      border-radius: 1px;
  }