.typewriter {
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .typewriter h1{
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: typing 4s steps(30, end) infinite,
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: darkcyan }
  }